<div class="footer">
    <div class="content">
        <div class="logo"><a href="#head"><img class="unselectable" src="assets/images/logo.png" alt=""></a></div>
        <div class="name">© Johann Holm 2023</div>
        <div class="links">
            <a href="https://github.com/JohannHolm" target="_blank"><img
                    src="assets/images/icons/links/github-white.png" alt="github"></a>
            <a href="#contact"><img src="assets/images/icons/links/mail-white.png" alt="mail"></a>
            <a href="https://www.linkedin.com/in/johann-holm-62b6611a8/" target="_blank"><img
                    src="assets/images/icons/links/linkedin-white.png" alt="linkedin"></a>
        </div>
    </div>
    <div class="footerlink">
        <a class="imprint" routerLink="./imprint">Imprint</a>
        <span> | </span>
        <a class="imprint" routerLink="./privacy">Privacy Policy</a>
    </div>
</div>